 
  <div class="max-w-7xl mx-auto px-4 mb-16">
    <div class="relative w-full h-[300px] md:h-[420px] rounded-3xl overflow-hidden shadow-lg">
      <img
        src="assets/log.jpeg"
        alt="Aqua Guard"
        class="w-full h-full object-cover"
      />

    
      <div class="absolute inset-0 bg-black/30"></div>

    
      <div class="absolute inset-0 flex items-center justify-center">
        <h2 class="text-white text-3xl md:text-5xl font-bold">
          {{title }}
        </h2>
      </div>
    </div>
  </div>
