<app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!-- Scroll To Top (Right) -->
<button
  *ngIf="showScrollTop"
  (click)="scrollToTop()"
  class="fixed bottom-5 right-5
         bg-[#0EA5E9] text-white
         p-3 rounded-full shadow-lg
         z-50
         transition hover:bg-[#207AAA]"
>
  <svg xmlns="http://www.w3.org/2000/svg"
       class="h-6 w-6"
       fill="none"
       viewBox="0 0 24 24"
       stroke="currentColor">
    <path stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 15l7-7 7 7" />
  </svg>
</button>

<!-- WhatsApp Button (Left) -->
<a
  [href]="'https://wa.me/' + whatsappNumber"
  target="_blank"
  class="fixed bottom-5 left-5
         bg-[#25D366] text-white
         p-3 rounded-full shadow-lg
         z-50
         hover:scale-110 transition
         flex items-center justify-center text-2xl"
>
  <i class="fab fa-whatsapp"></i>
</a>



