<nav
  #navbar
  class="fixed w-full z-20 top-0 start-0 rtl:font-['Cairo'] transition-colors duration-300 bg-transparent rounded-xl"
>
  <div class="max-w-screen-xl mx-auto flex flex-wrap items-center justify-between px-4">

<a routerLink="/home" class="flex flex-col items-center p-1 m-0">
  <img
       src="assets/ChatGPT Image Jan 8, 2026, 03_30_48 AM.png"
       class="h-20 w-20 object-cover block"
       alt="Logo" />
  <span class="text-2xl font-bold italic
               bg-gradient-to-r
               from-[#155E8A]
               via-[#2FA4D9]
               to-[#6ECFEF]
               text-transparent bg-clip-text
               mt-1 leading-none">
    Aqua Guard
  </span>
</a>
    <!-- Hamburger Button -->
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 text-sm text-[#40B1E5] rounded-lg md:hidden hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- Links -->
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-transparent">

        <li>
          <a
            routerLink="/home"
            routerLinkActive="active-link"
            class="nav-link flex items-center gap-2 py-2 px-3  font-bold  transition-colors duration-300"
          >
            <i class="fa-regular fa-house"></i>
            الرئيسية
          </a>
        </li>

        <li>
          <a
            routerLink="/about"
            routerLinkActive="active-link"
            class="nav-link flex items-center gap-2 py-2 px-3 text-white font-bold  transition-colors duration-300"
          >
            <i class="fa-regular fa-user"></i>
            من نحن
          </a>
        </li>

        <li>
          <a
            routerLink="/services"
            routerLinkActive="active-link"
            class="nav-link flex items-center gap-2 py-2 px-3 text-white font-bold  transition-colors duration-300"
          >
            <i class="fa-solid fa-circle-nodes"></i>
            خدماتنا
          </a>
        </li>

        <li>
          <a
            routerLink="/projects"
            routerLinkActive="active-link"
            class="nav-link flex items-center gap-2 py-2 px-3 text-white font-bold  transition-colors duration-300"
          >
            <i class="fa-regular fa-lightbulb"></i>
          المشروعات
          </a>
        </li>

        <li>
          <a
            routerLink="/contacts"
            routerLinkActive="active-link"
            class="nav-link flex items-center gap-2 py-2 px-3 text-white font-bold  transition-colors duration-300"
          >
            <i class="fa-regular fa-envelope"></i>
            اتصل بنا
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>




