

.nav-link {
  color: #64BBEB;
  transition: color 0.3s;
}


.nav-link.active-link {
  background-color: #62BAE9 !important;
  color: #ffffff !important;

  padding: 6px 12px;   
  border-radius: 9999px;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}
