@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Cairo', 'Tajawal', sans-serif;
  text-align: right; /* لو تحبي النصوص كلها من اليمين */
  direction: rtl;    /* تأكيد اتجاه RTL */
}
